<?xml version="1.0" ?>
<robot name="placeholder_building">
  <link name="base">
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin xyz="3.5 19.9 1.6" rpy="0 0 0"/>
      <geometry><box size="7.0 0.2 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="3.5 19.9 1.6" rpy="0 0 0"/>
      <geometry><box size="7.0 0.2 3.2"/></geometry>
      <material name="wall_0">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="19.5 19.9 1.6" rpy="0 0 0"/>
      <geometry><box size="21.0 0.2 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="19.5 19.9 1.6" rpy="0 0 0"/>
      <geometry><box size="21.0 0.2 3.2"/></geometry>
      <material name="wall_1">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="15.0 0.1 1.6" rpy="0 0 0"/>
      <geometry><box size="30.0 0.2 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="15.0 0.1 1.6" rpy="0 0 0"/>
      <geometry><box size="30.0 0.2 3.2"/></geometry>
      <material name="wall_2">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1 2.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 4.0 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.1 2.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 4.0 3.2"/></geometry>
      <material name="wall_3">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1 13.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 14.0 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.1 13.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 14.0 3.2"/></geometry>
      <material name="wall_4">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="29.9 6.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 12.0 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="29.9 6.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 12.0 3.2"/></geometry>
      <material name="wall_5">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="29.9 17.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 6.0 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="29.9 17.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 6.0 3.2"/></geometry>
      <material name="wall_6">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="15.0 5.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 10.0 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="15.0 5.0 1.6" rpy="0 0 0"/>
      <geometry><box size="0.2 10.0 3.2"/></geometry>
      <material name="wall_7">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="22.5 10.0 1.6" rpy="0 0 0"/>
      <geometry><box size="15.0 0.2 3.2"/></geometry>
    </collision>
    <visual>
      <origin xyz="22.5 10.0 1.6" rpy="0 0 0"/>
      <geometry><box size="15.0 0.2 3.2"/></geometry>
      <material name="wall_8">
        <color rgba="0.65 0.65 0.7 0.6"/>
      </material>
    </visual>
  </link>
</robot>
